@page
@model Fritz.StaticBlog.adminweb.Pages.IndexModel
<html>
  <head>
    <title>Website Administration and Management</title>
  </head>
  <body>
    
    
    This is the beginning

    <dl>
      <dt>Theme</dt>
      <dd>@Model._Configuration["Theme"]</dd>
    </dl>

    <form action="/" method="post">
      <input type="submit" value="Try it" />
    </form>

  </body>
</html>
