@page
@model Fritz.StaticBlog.adminweb.Pages.PostsModel

<div class="nav-row">
<h2>Website Posts</h2>
</div>

<div class="row">
  <div class="col-md-2" style=" height: calc(100vh - 3.2rem); overflow-y: scroll;">
    <a asp-page="/EditPost">New Post</a>

    <!-- List of Posts -->
		<ul class="list-group">
			@foreach (var post in Model.Posts.OrderByDescending(p => p.fm.PublishDate))
			{
				<li class="list-group">
					<a target="editPost" href="http://localhost:8029/posts/@post.fileName" class="list-group-item list-group-item-action">
						@post.fm.Title
					</a>
        </li>
      }
		</ul>

  </div>

  <div class="col-md-10">

		@if (!string.IsNullOrEmpty(Model.ErrorMessage))
		{
			<div class="alert alert-danger">
				@Model.ErrorMessage
			</div>
		}

    <iframe name="editPost" style="width: 100%; height: calc(100vh - 3.2rem @Model.ErrorMessageHeight);"></iframe>
  </div>

</div>