@page
@model Fritz.StaticBlog.adminweb.Pages.SettingsModel
@using Fritz.StaticBlog.Data

<h2>Settings</h2>

<dl>
  <dt>OutputPath</dt>
  <dd>@Model.Configuration[WebsiteConfig.PARM_OUTPUTPATH]</dd>

  <dt>WorkingDirectory</dt>
  <dd>@Model.Configuration[WebsiteConfig.PARM_WORKINGDIRECTORY]</dd>
</dl>

@if (Model.ThisConfig != null) {
<h3>Site Configuration</h3>
<dl>
  <!-- Content of the Config stored in the properties of Model.ThisConfig -->

  @foreach (var property in typeof(Config).GetProperties())
  {

    <dt>@property.Name</dt>
    <dd>@property.GetValue(Model.ThisConfig)</dd>

  }

</dl>
}
